{% load pin_tags%}
<form method="post" class="form-horizontal" action="{% url "pin-send" %}" id="pin_form" >
{% csrf_token%}
	<div class="control-group">
      	{{ form.errors}}
        <label class="control-label">تصویر: </label>
		<div class="controls">
			<div class="uploaded-image"> </div>
			<input type="hidden" value="" id="image_field" name="image" />
			<div id="file-uploader">       
			    <noscript>          
			        <p>Please enable JavaScript to use file uploader.</p>
			    </noscript>         
			</div>
		</div>
    </div>
	
	<div class="control-group ">
            
        <label class="control-label">توضیحات: </label>
		<div class="controls">
			<textarea id="id_text" rows="5" cols="40" name="text"> </textarea>
		<span class="help-inline"> </span>
		</div>
    </div>
    
    <div class="control-group">
		<label class="control-label">آدرس:</label>
		<div class="controls">
			<input type="text" name="url" placeholder="URL" class="span3 ltr">
		</div>
	</div>

    <div class="control-group">
        <label class="control-label">گروه </label>
        <div class="controls">
            {{pin_form.category}}
        </div>
    </div>
	
	<div class="control-group">
		<label class="control-label">برچسب ها: </label>
		<p class="text-info">برچسب ها را با enter از یکدیگر جدا کنید</p>
		<div class="controls">
			<textarea id="textarea" name="tags" rows="1"></textarea>
		</div>
		
	</div>

<div class="form-actions">
	<input type="submit" class="btn btn-primary" value="ذخیره" />
</div>
</form>

