{% load pin_tags%}
{% load thumbnail %}
{% load daddy_avatar%}
<a href="{% url "pin-notif-user" %}">مشاهده همه اعلانات</a>
{% for noti in notif %}
<div class="notif" style="height:100px">
        {% thumbnail noti.post.image "100x100" crop="center" as im %}
        <a href="{% url "pin-item" noti.post.id %}"><img src="{{im.url}}" style="float:left;margin-right:5px" /></a>
        {% endthumbnail%}
        <div class="post-like-right">
        {% if noti.type == 1 %}
            <i class="icon-heart"></i>
        {% elif noti.type == 2 %}
            <i class="icon-comment"></i>
        {% elif noti.type == 3 %}
            <i class="icon-ok"></i>
        {% elif noti.type == 4 %}
            <i class="icon-remove"></i>
        {% endif %}
        </div>
        {% for actor in noti.actors reversed %}
            {% if forloop.counter < 10 %}
            <a target="_blank" href="{% url "pin-user" actor.actor.id %}"><img src="{{actor.actor|get_avatar:30}}"></a>
            {% endif %}
        {% endfor%}
	
	
</div>
{% endfor %}

