<script type="text/javascript">
var parent_to_del = '';

$(".delpost").live('click',function(){
	if (confirm('این مطلب حذف شود؟')){
		var obj = $(this);
		var parent_to_del = $(obj).parents("div.feed-item");
		
		obj.addClass('disabled');
		var like_url=obj.attr('href');
		$.ajax({
            url: like_url,
            success: function(html) {
            	ret = html;
            	if (ret==1){
            		$(parent_to_del).remove();
            		feedobj.masonry('reload');
            	}
            }
        });
    }
	return false;
});

</script>