{% extends "base/pin.html"%}

{%block title%} - قوانین {%endblock title%}
{% block content %}
<div class="container">
	<div class="span12">
        <div class="box">
			<div class="box-title">
قوانین ویسگون
			</div>

			<div class="box-content">
<ol style="margin: 5px 15px 0 0;">
<li>مطالب کاربران جدید در ویسگون بعد از تائید درج می گردد.از ارسال چند باره عکس جدا خودداری فرمائید.</li>
<li>هر کار بر در ویسگون رتبه بندی دارد. شما می توانید با رعایت دقیق قوانین رتبه خود را در ویسگون افزایش داده و در نهایت بدون تائید محتوا ارسال کنید.ارتقا یک کاربر صرفا با نظر مدیران سایت انجام می شود.</li>
<li>عکس و مطالب و نظرات ویسگون هر 30 دقیقه یکبار پالایش و مورد بررسی قرار می گیرد.و مطالب مغایر با قوانین حذف می گردد.</li>
<li>ویسگون در انتشار یا عدم انتشار تصویر و محتوا آزاد است.</li>
<li>کاربرانی که محتوای مغایر با قوانین جمهوری اسلامی درج می کنند بعد از دریافت اخطار حذف می گردند. ضمنن حذف مطالب شما به نوعی اخطار محسوب می شود.</li>
</ol>

چه محتوایی در ویسگون حذف می گردد؟
<ol style="margin: 5px 15px; 0 0">
<li>تصاویر مغایر با عفت عمومی ، استفاده از الفاظ قبیح و رکیک و یا الفاظی که متاسفانه در بین مردم رایج شده و بدون قبح استفاده می گردد.</li>
<li>توهین به مذاهب.</li>
<li>استفاده از حرفهای توهین آمیز ، لقب دادن به افراد، مسخره کردن شخص یا گروهی شناخته شده در بین مردم و مسخره کردن گویش و لهجه و یا قومیت خاص.</li>
<li>ویسگون به هیچ گرایش سیاسی خاصی وابستگی ندارد ومطلب و تصاویری که توهین یا اتهام ثابت نشده ای به مقامات نظام جمهوری اسلامی با گرایش چپ، راست، وسط ، بالا، پائین باشد حذف می گردد.</li>
<li>دعوت به راهپیمایی، تجمع و...</li>
<li>هرگونه مطلب و عکس که صرفا تبلیغاتی باشد و از کانال سازمان آگهی های ویسگون نباشد.</li>
<li>تصاویری که رو آنها آگهی وب سایت خاصی درج شده باشد.</li>
<li>عکس ها و مطالب مروج،شایعه و خرافات.</li>
<li>تصاویر بانوان ایرانی بدون پوشش رسمی کشور و تصاویر خارجی بانوان بدون پوشش مناسب.</li>
<li>استفاده از عکس های بی کیفیت و بدون موضوعیت.</li>
<li>تصاویر فجیع و دلخراش از کشتار انسان یا حیوانات یا کالبد شکافی و کلا عکس های من منزجر کننده.</li>
</ol>

این سایت پایبند به قوانین کشور جمهوری اسلامی ایران است و قانون کلی کشور در مورد جرایم رایانه ای را در زیر می خوانید.<br><br>

ضمنا" بر اساس قوانين کشور جمهوري اسلامي ايران و قانون جرائم رایانه ای ، هر مطلبی که شامل موضوعات زیر باشد پذیرفته نخواهد شد:<br>
موضوع ماده 21 قانون جرايم رايانه اي<br>
الف ) محتواي عليه عفت و اخلاق عمومي
<ol style="margin: 5px 15px; 0 0">
<li>اشاعه فحشاء ومنكرات (بند2   ماده6 ق. .م)</li>
<li>تحريك ، تشويق ، ترغيب ، تهديد يادعوت  به فساد و فحشاء و ارتکاب جرايم منافي عفت يا انحرافات جنسي</li>
<li>( بند ب ماده 15  قانون ج.ر  و ماده 649 ق.م.ا))</li>
<li>انتشار، توزيع ومعامله محتواي خلاف عفت عمومي(مبتذل ومستهجن) (بند2  ماده6 ق.م وماده 14 قانون ج.ر)</li>
<li>تحريك ، تشويق ، ترغيب ، تهديد ياتطميع افراد به دستيابي به محتويات مستهجن ومبتذل ( ماده 15  قانون جرايم رايانه اي)</li>
<li>استفاده ابزاري از افراد(اعم از زن ومرد) در تصاوير ومحتوي، تحقير وتوهين به جنس زن، تبليغ تشريفات وتجملات نامشروع وغيرقانوني.  (بند10 ماده6 ق.م)</li>
</ol>

ب)محتواي عليه مقدسات اسلامي
<ol style="margin: 5px 15px; 0 0">
<li>محتواي الحادي ومخالف موازين اسلامي(بند1ماده6 ق.م)</li>
<li>اهانت به دين مبين اسلام ومقدسات آن (بند 7 ماده6 ق.م وماده 513 ق. م.ا)</li>
<li>اهانت به هر يک از انبياء عظام  يا ائمه طاهرين (ع) يا حضرت صديقه طاهره(س)( ماده 513 ق. م.ا)</li>
<li>تبليغ به نفع حزب گروه يا فرقه منحرف ومخالف اسلام(بند9  ماده6 ق.م)</li>
<li>نقل مطالب از نشريات ورساناها واحزاب وگروههاي داخلي وخارجي منحرف ومخالف اسلام به نحوي كه تبليغ ازآنها باشد . (بند9  ماده6 ق.م)</li>
<li>اهانت به امام خميني(ره) وتحريف آثار ايشان (ماده514 ق .م.ا)</li>
<li>اهانت به مقام معظم رهبري وسايرمراجع مسلم تقليد(بند 7  ماده6 ق.م)</li>
</ol>
ج) محتواي عليه  امنيت وآسايش عمومي
<ol style="margin: 5px 15px; 0 0">
<li>تشكيل جمعيت ، دسته ، گروه در فضاي مجازي(سايبر) باهدف برهم زدن امنيت كشور(ماده 498 ق.م..ا)</li>
<li>هر گونه تهديد به بمب گذاري (ماده 511ق.م..ا)</li>
<li>محتوايي كه به اساس جمهوري اسلامي ايران  لطمه وارد كند(بند1  ماده6 ق.م)</li>
<li>انتشار محتوي  عليه اصول  قانون اساسي. (بند12   ماده6 ق.م)</li>
<li>تبليغ عليه نظام جمهوري اسلامي ايران(ماده500 ق .م.ا)</li>
<li>اخلال در وحدت ملي و ايجاد اختلاف مابين اقشار جامعه به ويژه ازطريق طرح مسائل نژادي وقومي (بند 4  ماده6 ق.م)</li>
<li>تحريك يا اغواي مردم به جنگ وكشتار يكديگر (ماده 512 ق.م.ا)</li>
<li>تحريك نيروهاي رزمنده يا اشخاصي كه به نحوي ازانحا در خدمت نيروهاي مسلح هستند به عصيان ، فرار، تسلم يا عدم اجراي وظايف نظامي(ماده504 ق.م..ا)</li>
<li>تحريص وتشويق افراد وگروهها به ارتكاب اعمالي عليه امنيت، حيثيت ومنافع جمهوري اسلامي ايران در داخل يا خارج از كشور(بند5   ماده6 ق.م)</li>
<li>تبليع به نفع گروهها وسازمانهاي مخالف نظام جمهوري اسلامي ايران (ماده500 ق .م.ا)</li>
<li>فاش نمودن وانتشارغير مجاز اسناد و دستورها ومسايل محرمانه و سري دولتي وعمومي(بند 6  ماده6 ق.م ومواد 2و3 ‌قانون  مجازات انتشار و افشاي اسناد محرمانه و سري دولتي وماده 3 قانون ج.ر)</li>
<li>فاش نمودن وانتشار غير مجاز اسرار نيروهاي مسلح(بند 6  ماده6 ق.م)</li>
<li>فاش نمودن وانتشار غير مجاز نقشه واستحكامات نظامي(بند 6  ماده6 ق.م)</li>
<li>انتشار غير مجاز مذاكرات  غيرعلني مجلس شوراي اسلامي(بند6   ماده6 ق.م)</li>
<li>انتشار بدون مجوز مذاكرات محاكم غيرعلني دادگستري وتحقيقات مراجع قضايي(بند 6  ماده6 ق.م)</li>
<li>انتشار محتوايي که از سوي شوراي عالي امنيت ملي منع شده باشد.</li>
</ol>

			</div>
        </div>
	</div>
</div>
{% endblock content %}
